@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-darkBG: #070707;
  --color-lightBG: ;

  --color-darkCard: #1F1F21;
  --color-lightCard: ;

  --color-darkButton: #29282B;
  --color-lightButton: ;

  --color-darkText: #F3F3F3;
  --color-lightText: #111111;

  --color-darkBorder: #28272A;
  --color-lightBorder: #EDECEA;

  --color-darkHeader: #1B1A1D;
  --color-lightHeader: #FBFBFB;

  --color-darkFooter: #131313;
  --color-lightFooter: #F7F7F7;

}

:root {
  --toastify-color-success: rgba(7, 188, 12, 0.8) !important;
  --toastify-color-error: rgba(255, 82, 82, 0.8) !important; 
}