@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-backgroundLight: #E8EAEC;
    --color-backgroundDark: #181818; 

    --color-footerLightMode: #FAFAFA;
    --color-footerDarkMode: #1E1E1E; 

    --color-headerLightMode: #F8F8F8;
    --color-headerDarkMode: #1C1C1C; 

    --color-cardLightMode: #EEF1EE;
    --color-cardDarkMode: #222222;

    --color-textLight: #333333; 
    --color-textDark: #E0E0E0; 

    --color-primary: #4AC3E9; /* Azul vibrante */
    --color-primaryHover: #3AA6CC; /* Azul mais escuro para hover */

    --color-secondary: #7D2AE8; /* Roxo forte */
    --color-secondaryHover: #6824CC; /* Roxo mais escuro para hover */

    --color-borderLight: #D1D5DB; 
    --color-borderDark: #2F2F2F; 

    --color-buttonLight: #4AC3E9; /* Azul vibrante */
    --color-buttonLightHover: #3AA6CC; /* Azul mais escuro */

    --color-buttonDark: #7D2AE8; /* Roxo forte */
    --color-buttonDarkHover: #6824CC; /* Roxo mais escuro */


}
/* ECEAEB */